# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Node.js
# =========================
node_modules/
dist/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Django virtual environment
# =========================
backend/dvenv/

# =========================
# SQLite database
# =========================
backend/db.sqlite3

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/